.profilepic{
    height: 200px;
    width: auto;
}

.grid-container {
    display: grid;
    word-wrap: break-word;
    left: 20%;
    top: 20%;
    width:30%;
    margin: auto;
}
  
.grid-item {
    padding: 15px;
    font-size: 15px;
}
.pic{
    grid-column: 1;
    grid-row: 1 / span 5;
}

.fname {
    grid-column: 2;
    grid-row: 1;
}

.fname_val {
    grid-column: 3;
    grid-row: 1;
}

.lname {
    grid-column: 2;
    grid-row: 2;
}
  
.lname_val {
    grid-column: 3;
    grid-row: 2;
}

.phone {
    grid-column: 2;
    grid-row: 3;
}

.phone_val {
    grid-column: 3;
    grid-row: 3;
}

.email {
    grid-column: 2;
    grid-row: 4;
}

.email_val {
    grid-column: 3;
    grid-row: 4;
}

.bio {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    align-self: center;
} 

.bio_val {
    grid-column: 3;
    grid-row: 5;
} 



